<html>
    <head>
        <title>Catalyst Miami</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="./static/css/index.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript" src="../static/js/index.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                <a class="navbar-brand" href="#"><img id="brandImg" src="./static/images/logo.png"></a>


                    <div class="navbar-nav ml-auto"></div>
                    <div class="nav navbar-nav ml-auto justify-content-end">
                        <div id="navRow1" class="row" style="">
                                <a href="./index5.html" role="button" style="background-color: #0B4A61; color: white; margin-right: 4px;" class="btn" type="button">English</a>
                                <a href="./index6.html" role="button" style="background-color: #0B4A61; color: white; margin-right: 4px;" class="btn" type="button">Español</a>
                                <a href="./index7.html" role="button" style="background-color: #0B4A61; color: white;" class="btn" type="button">Haitian Creole</a>
                        </div>
                        <div id="navRow2" class="row" style="width:100%;">
                            <button id="logBtn" class="btn btn-danger" style="width: 100%;" type="button">Iniciar Sesión / Regístrate</button>
                        </div>

                    </div>


          </nav>

          <div>
              <!-- Most Content -->
              <div style="">

                <div class="jumbotron">
                    <div class="text-center">
                       <h4 id="welcome" style="font-weight: bold; margin-bottom: 20px; color: #C82333;">Bienvenido a nuestra comunidad!  <i style="color:BLACK;" id="click"  class="fa fa-volume-up" aria-hidden="true"></i></h4>
                    </div>
                    <img src="./static/images/header1.png" style="display: block; width: 100%;">
                </div>

              </div>
              <!-- LogIn/SignIn -->
              <div class="container">
                  <div class="text-center">
                    <h4 id = "mission" style="color: #C82333; font-weight: bold;">Misión  <i style="color:BLACK;" id="click2" class="fa fa-volume-up" aria-hidden="true"></i></h4>
                    <p id = "statement"> Nuestra misión es identificar y resolver colectivamente los problemas que afectan adversamente a las comunidades de bajos recursos en todo el Condado de Miami-Dade.</p>
                  </div>
                    <div class="card shadow text-center" style="margin-bottom: 30px;">
                        <form id="LogInPart" method="POST" action="{{ url_for('serve_form') }}" style="margin-top: 30px;">
                            <h4 style="color: #C82333; font-weight: bold; margin-bottom: 15px;">Iniciar Sesión / Regístrate</h4>
                            <input id="email" type="text" placeholder="Correo electrónico" style="margin-bottom: 15px;" name="email"><br>
                            <input type="submit" value="Enviar" style="margin-bottom: 15px; background-color: #0B4A61; color: white; margin-right: 4px;" class="btn" type="button">
                        </form>


                    </div>



              </div>

          </div>
    </body>
</html>
