<html>
    <head>
        <title>Catalyst Miami</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://cdn.anychart.com/js/8.0.1/anychart-core.min.js"></script>
      <script src="https://cdn.anychart.com/js/8.0.1/anychart-pie.min.js"></script>
      <link rel="stylesheet" href="../../static/css/genDash.css"> 
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div id="content" class="container text-center mx-auto" style="height: 100px !important; margin-bottom: 50px;">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-12">
                    <div class="card shadow" style="margin-top: 35px; margin-bottom: 15px;padding: 15px 0;">
                        <h4 style="color: #C82333; font-weight: bold;">Resilience</h4>
                    </div>
                </div>
                <div class="col-1">
    
                </div>
            </div>
            
            
            <div id="container" style=""></div>

            
        </div>
        

        <footer class="footer" style="">
            <div class="" style="margin:0; padding:0; width: 100%">
                <div class="row" style="width: 100%; margin: 0;">
                    <div class="col" style="padding: 0; margin: 0;">
                            <a href="{{ url_for('serve_financials') }}" role="button" class="btn btn-danger curTab" style="height: 100%; width: 100%; border-radius: 0; border-color: white;"><i class="fa fa-usd" aria-hidden="true" style="height: 15px;"></i><br><br>Financial</a>
                    </div>
                    <div class="col" style="padding: 0; margin: 0;">
                        <a href="{{ url_for('serve_health') }}" role="button" class="btn btn-danger" style="height: 100%; width: 100%; border-radius: 0; border-color: white;"><i class="fa fa-heartbeat" aria-hidden="true"></i><br><br>Health</a>
                    </div>
                    <div class="col" style="padding: 0; margin: 0;">
                            <a href="{{ url_for('serve_resilience') }}" role="button" class="btn btn-danger" style="height: 100%; width: 100%; border-radius: 0; border-color: white;"><i class="fa fa-fire" aria-hidden="true"></i><br><br>Resilience</a>
                    </div>
                    <div class="col" style="padding: 0; margin: 0;">
                            <a href="{{ url_for('serve_policy') }}" role="button" class="btn btn-danger" style="height: 100%; width: 100%; border-radius: 0; border-color: white;">
                                <i class="fa fa-book" aria-hidden="true"></i><br><br>
                                Policy</a>
                    </div>
                    <div class="col" style="padding: 0; margin: 0;">
                            <a href="{{ url_for('serve_leadership') }}" role="button" class="btn btn-danger" style="height: 100%; width: 100%; border-radius: 0; border-color: white;"><i class="fa fa-users" aria-hidden="true"></i><br><br>Leadership</a>
                    </div>
                    <div class="col" style="padding: 0; margin: 0;">
                            <a href="{{ url_for('serve_formm') }}" role="button" class="btn btn-danger" style="height: 100%; width: 100%; border-radius: 0; border-color: white;"><i class="fa fa-paper-plane" aria-hidden="true"></i><br><br>Forms</a>
                    </div>
                    <div class="col" style="padding: 0; margin: 0;">
                            <a href="{{ url_for('serve_goal') }}" role="button" class="btn btn-danger" style="height: 100%; width: 100%; border-radius: 0; border-color: white;"><i class="fa fa-line-chart" aria-hidden="true"></i><br><br>Goals</a>
                    </div>
                    <div class="col" style="padding: 0; margin: 0;">
                            <a href="{{ url_for('serve_account') }}" role="button" class="btn btn-danger" style="height: 100%; width: 100%; border-radius: 0; border-color: white;"><i class="fa fa-id-card-o" aria-hidden="true"></i><br><br>Account</a>
                    </div>
                </div>
                
            </div>
        </footer>
    </body>
</html>